- name: Loki
  type: loki
  access: proxy
  url: http://loki-gateway.{{ loki_namespace }}.svc.cluster.local
  version: 1
  editable: false
  jsonData:
    httpHeaderName1: "X-Scope-OrgID"
  secureJsonData:
    httpHeaderValue1: "tenet1"